.slider-container {
	--progress-bar-height: 4px;
}

.slider-container {
	position: relative;
	width: 100%;
}
@media (max-width: 952px) {
	.slider-container {
		transform: translateX(-20%);
	}
}

/* Background */
.slider-container::before {
	content: "";
	background-color: white;
	width: 99%;
	height: calc(var(--progress-bar-height) - 1px);
	display: block;
	position: absolute;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

/* Custom Progress Bar */
.progress-bar-cover {
	background-color: rgb(218, 55, 145);
	width: 0%;
	height: var(--progress-bar-height);
	display: block;
	position: absolute;
	border-radius: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

/*  Hide Original */
.range {
	-webkit-appearance: none;
	height: 10px;
	width: 100%;
	cursor: pointer;
	opacity: 0;
	margin: 0 auto;
}

.slider-container {
	max-width: 80%;
	margin-left: 12px;
}

.control-panel {
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
}

.timer {
	font-size: 20px;
	font-weight: 200;
	color: rgb(196, 196, 196);
	position: absolute;
	left: 91%;
	transform: translateY(-6%);
}
